body{
    background-color: white;
}
h1{
    text-align: center;
}
.inner{
    width: 100%;
    border: 5px solid grey;
}
img{
    display: none;
    width: 100%;
}
.active{
    display: inline-block;
}
.outer{
    text-align: center;
}